# Server Port (Frontend connects to 65421 by default)
PORT=65421

# PostgreSQL Database Configuration
DB_USER="postgres"
DB_HOST="localhost"
DB_DATABASE="rule_engine_db"
DB_PASSWORD=""
DB_PORT=5432

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where the frontend is hosted.
APP_URL="http://localhost:4200"

